.hello{
    background-color: bisque;
    text-align: center;
}
.long{
    background-color: bisque;
    text-align: center;
}
.us{
    background-color: bisque;
    text-align: center;
}
.mac{
    background-color: bisque;
    text-align: center;
}
.ph{
    background-color: bisque;
    text-align: center;
}